/*-----------------------
mixin
-------------------------*/
/*-----------------------
color
-------------------------*/
/*-----------------------
common
-------------------------*/
@media screen and (max-width: 767px) {
  is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  is-sp {
    display: none;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #003D5B;
  font-family: "HGGothicE";
  line-height: 22px;
}

img {
  max-width: 100%;
  height: auto;
}

.inner {
  max-width: 1120px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 40px;
    padding-bottom: 74px;
  }
}

span {
  color: #D1495B;
}

a {
  transition: all 0.3s ease 0s;
}
a:hover {
  opacity: 0.7;
}

/*header
________________________*/
.header {
  background: rgba(153, 153, 153, 0.3019607843);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 101px;
}
@media screen and (max-width: 767px) {
  .header {
    height: 58px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-inner {
    height: 58px;
  }
}

.header-nav {
  margin-left: auto;
}

.header-logo {
  height: 88px;
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-logo {
    font-size: 21px;
    height: 58px;
  }
}

.header-nav-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-nav-list {
    display: block;
  }
}

.header-nav-item {
  width: 110px;
}
.header-nav-item:not(:nth-child(1)) {
  margin-left: 21px;
}
@media screen and (max-width: 767px) {
  .header-nav-item {
    margin-left: 21px;
  }
}

.header-nav-item-link {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: #003D5B;
  height: 100%;
  width: 100%;
  font-size: 21px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.1em;
  position: relative;
  transition: all 0.3s ease 0s;
}
.header-nav-item-link:hover::after, .header-nav-item-link.is-active::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0px;
  width: 100%;
  height: 5px;
  background: #D1495B;
}
@media screen and (max-width: 767px) {
  .header-nav-item-link:hover::after, .header-nav-item-link.is-active::after {
    left: 10px;
    width: 91px;
  }
}

/*footer
_________________________*/
.footer {
  background: #30638E;
  padding: 26px 40px 26px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 0px 40px 0px;
  }
}

.footer-content {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer-content {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-left {
    width: 30%;
  }
}

.footer-logo {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  padding-top: 33px;
  padding-bottom: 63px;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .footer-right {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .footer-right {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
  }
}

.footer-nav-list {
  display: flex;
  justify-content: center;
}

.footer-nav-item {
  width: 85px;
}
.footer-nav-item + .footer-nav-item {
  margin-left: 21px;
}

.footer-nav-item-link {
  text-align: center;
  width: 100%;
  color: #fff;
  display: block;
  padding: 1em 0;
  position: relative;
  transition: all 0.3s ease 0s;
}
.footer-nav-item-link:hover::after, .footer-nav-item-link.is-active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 5px;
  background: #D1495B;
}
@media screen and (min-width: 768px) {
  .footer-nav-item-link {
    line-height: 82px;
    font-size: 21px;
  }
}
@media screen and (max-width: 767px) {
  .footer-nav-item-link {
    font-size: 14px;
  }
}

.footer-copy-right {
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: #003D5B;
  padding: 9px 40px 14px;
}

/*main
________________________
/*common
________________________*/
.main {
  padding-top: 101px;
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 58px;
  }
}

.icon {
  width: 60px;
  height: 60px;
  margin: 6px 0px 4px 0px;
}
@media screen and (max-width: 767px) {
  .icon {
    margin: 0 auto;
    padding-top: 1%;
  }
}

.message {
  display: flex;
  max-width: 544px;
  height: 71px;
  background: #EEEEEE;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .message {
    display: block;
    width: 100%;
    height: 170px;
  }
}

.message-text-inner {
  padding: 12px 14px 12px;
}

.message-text {
  font-family: "Yu Mincho";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
/*util
________________________*/
.util-title {
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
.util-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 44px;
  background: #D1495B;
  margin: 16px auto 0;
}
@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
  }
}

.util-title-sub {
  font-family: "Yu Mincho";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 48px;
  color: #D1495B;
}
@media screen and (max-width: 767px) {
  .util-title-sub {
    font-size: 13px;
    margin-bottom: 19px;
  }
}

/*top
________________________*/
.top {
  position: relative;
}
@media screen and (max-width: 767px) {
  .top {
    padding-top: 120%;
    background: url(../img/img.png) no-repeat center center/cover;
  }
}
@media screen and (min-width: 768px) {
  .top {
    padding-top: 55%;
    background: url(../img/img.png) no-repeat center center/cover;
  }
}

.top-inner {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 40px;
}

.top-message {
  max-width: 787px;
  display: block;
  padding-top: 8.95vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .top-message {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .top-message {
    text-align: center;
  }
}

.top-message-title {
  font-weight: 400;
  font-size: 60px;
  color: #003D5B;
  line-height: 60px;
}
@media screen and (max-width: 767px) {
  .top-message-title {
    font-size: 39px;
    margin-bottom: 5px;
  }
}

.top-message-text {
  width: 537px;
  height: 65px;
  font-family: "Yu Mincho";
  color: #003D5B;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .top-message-text {
    width: auto;
    line-height: 18px;
    font-size: 13px;
    margin-left: 0;
    text-align: center;
  }
}

/*skill
________________________*/
.skill-lists {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .skill-lists {
    gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .skill-lists {
    justify-content: center;
  }
}

.skill-nav-item {
  width: 160px;
  height: 264px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .skill-nav-item {
    width: 48%;
  }
  .skill-nav-item:nth-child(2n) {
    margin-left: 4%;
  }
  .skill-nav-item:nth-child(n+3) {
    margin-top: 32px;
  }
}

.skill-html img {
  width: 99.68px;
  height: 125.93px;
}

.skill-css img {
  width: 99.68px;
  height: 125.93px;
}

.skill-js img {
  width: 141px;
  height: 118px;
}

.skill-wordpress img {
  width: 119px;
  height: 119px;
}

.skill-php img {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 116px;
  height: 64.42px;
}

.skill-Bootstrap img {
  width: 126.86px;
  height: 112.57px;
}

.skill-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #000;
  margin: 24px auto 10px;
  text-align: center;
}

.skill-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #000;
  text-align: left;
}

/*price
________________________*/
.price {
  background: url(../img/unsplash_VieM9BdZKFo.png) no-repeat center center/cover;
}

.price-message {
  background: #fff;
}

.case-items {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .case-items {
    display: block;
  }
}

.case-item {
  width: calc(50% - 16px);
}
.case-item:not(:nth-child(2n+1)) {
  margin-left: 32px;
}
.case-item:nth-child(n+3) {
  margin-top: 34px;
}
@media screen and (max-width: 767px) {
  .case-item {
    width: 100%;
  }
  .case-item:not(:nth-child(2n+1)) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.case-item-number {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 52px;
  background: #30638E;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .case-item-number {
    display: inline-block;
    width: 100%;
  }
}

number {
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
}

.case-body {
  background: #fff;
  height: 375px;
}
@media screen and (max-width: 767px) {
  .case-body {
    height: 353px;
  }
}

.case-inner {
  margin: 0 24px;
}

.case-subtitle {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  padding-top: 18px;
  color: #30638E;
}

.case-title {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
.case-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #30638E;
  margin: 7px 0 0;
}

.case-lists {
  display: flex;
  margin: 10px 0 12px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .case-lists {
    display: block;
    margin: 10px 0 0;
  }
}

.price-list {
  display: flex;
  width: 50%;
}

.price-text-wrapper {
  width: 20%;
}

.price-text {
  margin-top: 8px;
  border: solid 1px #30638E;
  padding: 1px 3px 1px;
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

.price-cost-wrapper {
  margin-left: 5%;
}

.price-cost {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 38px;
  color: #D1495B;
}

.duedate-list {
  display: flex;
  width: 50%;
}

.duedate-text-wrapper {
  width: 20%;
}

.duedate-text {
  height: 20px;
  margin-top: 8px;
  border: solid 1px #30638E;
  padding: 1px 3px 1px;
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .duedate-text {
    margin-left: 0;
  }
}

.duedate-wrapper {
  margin-left: 10%;
}

.duedate {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 38px;
  color: #D1495B;
}

.case-text {
  display: inline-block;
  height: 154px;
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  margin-left: 32px;
  list-style: disc;
}

/*member
________________________*/
.member-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 97px;
}
@media screen and (max-width: 767px) {
  .member-items {
    display: block;
    margin-bottom: 54px;
  }
}

.member-item {
  width: 362px;
  background: linear-gradient(152.89deg, #EEEEEE 45.83%, #D9D9D9 100%);
  border-radius: 10px;
  margin-top: 73px;
  width: calc(33.3% - 22.6666666667px);
}
.member-item:not(:nth-child(3n+1)) {
  margin-left: 34px;
}
@media screen and (max-width: 767px) {
  .member-item {
    width: 100%;
    margin-top: 37px;
  }
  .member-item:not(:nth-child(3n+1)) {
    margin-left: 0;
  }
}

.member-item-inner {
  margin: 0 20px;
}

.member-name-title {
  height: 20%;
}

.member-name {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #000;
  padding-top: 30px;
}

.member-text-wrapper {
  display: inline-block;
  height: 20%;
}

.member-text {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #555;
  margin-top: 10px;
}

.member-skills {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4%;
  padding-bottom: 30px;
}

.member-skill {
  display: inline-block;
  background: #30638E;
  color: #fff;
  border-radius: 5px;
  padding: 3px 10px;
  margin-right: 5px;
  margin-top: 9px;
}

.member-recruit {
  text-align: center;
}

.member-recruit-title {
  text-align: center;
  height: 58px;
  font-size: 36px;
  line-height: 36px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .member-recruit-title {
    font-size: 30px;
  }
}

.member-recruit-text {
  font-family: "Yu Gothic";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 30px auto;
}
@media screen and (max-width: 767px) {
  .member-recruit-text {
    text-align: left;
  }
}

.member-recruit-sns-link {
  width: 101px;
  height: 101px;
}

.member-recruit-wrapper {
  max-width: 350px;
  margin: 72px auto 0;
}

.member-recruit-ribecity {
  display: block;
  width: 100%;
  height: 100%;
}
.member-recruit-ribecity img {
  text-align: center;
  height: 76px;
  width: 100%;
}

span2 {
  color: #000;
}

/*inquiry
________________________*/
.inquiry {
  background: url(../img/unsplash_bKjHgo_Lbpo.png) no-repeat center center/cover;
}

.inquiry-message {
  background: #fff;
}

.sns-link-items {
  display: flex;
  justify-content: center;
}

.sns-link-item {
  margin-top: 104px;
  max-width: 260px;
  height: 240px;
}
@media screen and (min-width: 768px) {
  .sns-link-item + .sns-link-item {
    margin-left: 134px;
  }
}
@media screen and (max-width: 767px) {
  .sns-link-item {
    margin-top: 43px;
  }
}

.sns-text {
  font-size: 23px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 13px;
}

.sns-link {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sns-link {
    height: 100%;
  }
}

.sns-link-twitter {
  font-size: 173px;
}
@media screen and (max-width: 767px) {
  .sns-link-twitter {
    font-size: 140px;
  }
}